/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.bg-1 {
    background-color: #EBB0D8 !important;
}

.bg-2 {
    background-color: #E9C6F5 !important;
}

.bg-3 {
    background-color: #BBAED9 !important;
}

.bg-4 {
    background-color: #95A1F0 !important;
}

.bg-5 {
    background-color: #73B2E6 !important;
}

.btn-created {
    background-color: #fff !important;
    border-color: #ccc !important;
    color: #17141f !important;
}

.btn-viewed {
    color: #fff !important;
    background-color: #efa31d !important;
    border-color: #efa31d !important;
}

.btn-completed {
    color: #fff !important;
    background-color: #13b955 !important;
    border-color: #13b955 !important;
}

